@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3> <p class="lead">Save The Kolache is a campaign hosting website! We host rallies, marches, <strike>riots</strike> and other campaigns! Check them out here... </p>
    </h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p></p>
    </div>
</div>