@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:christopher.fisher419@outlook.com">christopher.fisher419@outlook.com</a><br />
    </address>
</div>