@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Save The Kolache!</h1>
    <p class="lead">Save The Kolache is a campaign hosting website! We host rallies, marches, <strike>riots</strike> and other campaigns! Check them out here... </p>
</div>

    <div class="col-md-4">
        <dl>
            <dt>March For Crayons</dt>
            <dd>
                March For Crayons is our most recent event. The mission of MFC is to provide recognition for many Marines around the Globe who aren't 
                getting enough chow! Our goal is to allow everyone to recognize the importance of feeding Marines by providing Crayons to every Marine available!
                <ul>
                    <li>Sign up here...</li>
                <li>Don't forget to bring Crayons!</li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Sign up!</dt>
            <dd>
                <ul>
                    <li>If you don't have an account yet, register here! You need an account to sign up for events!</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Want to host events?</dt>
            <dd>
              Email me at christopher.fisher419@outlook.com, provide me all of the details of your event so I can set it up!
            </dd>
        </dl>
    </div>
  
