@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Save The Kolache!</h1>
    <p class="lead">Save The Kolache is a campaign hosting website! We host rallies, marches, and other campaigns! Check them out here... </p>
</div>

    <div class="col-md-4">
        <dl>
            <dt>Campaigns</dt>
            <dd>
                <ul>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Sign up!</dt>
            <dd>
                <ul>
                    <li>If you don't have an account yet, register here! You need an account to sign up for events!</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Want to host events?</dt>
            <dd>
              Email me at christopher.fisher419@outlook.com, provide me all of the details of your event so I can set it up!
            </dd>
        </dl>
    </div>
  
