@model SaveTheKolache.Models.Campaign

@{
    ViewBag.Title = "Sign";
}

<h2>Sign</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sign Up For This Campaign?</h4>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sign" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Campaign")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
